<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class = "container">
      <%-include('include/header.ejs') %>
      <%-include(pageName) %>
      <%-include('include/footer.ejs') %>
    </div>
  </body>
</html>
